body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(107, 107, 107);
    width: 500px;
    height: 700px;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px black;
}

.calculator-container {
    background-color: grey;
    width: 450px;
    height: 650px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(77, 77, 77);
}

.display {
    font-size: 80px;
    font-weight: 700;
    background-color: rgb(175, 175, 221);
    width: 400px;
    height: 100px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.buttons {
    background-color:rgb(150, 150, 150);
    width: 400px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(107, 107, 107);
    display: flex;
    justify-content: space-around;
}

.numbers {
    width: 70%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.signs {
    width: 25%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-1,.row-2,.row-3 {
    height: 23%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}


.numbers .btn{
    width: 30%;
}

#zero {
    width: 90%;
    height: 23%;
    margin: 10px;
    align-self: center;
}

.signs .btn{
    width: 90%;
    height: 12%;
}